:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline #c9ada7;
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  margin: 0px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;
}
.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.vee-btn {
  border: none;
  background-color: #c9ada7;
  padding: 5px 20px;
  border-radius: 5px;
  color: #000;
}
.vee-btn:hover {
  background-color: #f2e9e4;
  text-decoration: underline #c9ada7;
}